// Theme Colors
$color-primary-lightest: #FFF4C3;
$color-primary-light: #FFED9A;
$color-primary-medium: #FCE473;	// Primary color */
$color-primary-darker: #DBC148;
$color-primary-darkest: #BAA025;

$color-secondary-1-lightest: #D1B1E3;
$color-secondary-1-light: #AC7DC7;
$color-secondary-1-medium: #8852A8;	// Secondary color (1) */
$color-secondary-1-darker: #703693;
$color-secondary-1-darkest: #5A1E7D;

$color-secondary-2-1: #B3C3E3;
$color-secondary-2-2: #8097C7;
$color-secondary-2-medium: #5670A8;	// Secondary color (2) */
$color-secondary-2-dark: #3A5792;
$color-secondary-2-darkest: #23407C;

$color-neutral: white;

// Fonts
$font-import-url:'https://fonts.googleapis.com/css?family=Indie+Flower|Pangolin';
@import url($font-import-url);
$font-headline: 'Pangolin', cursive;
$font-body: 'Indie Flower', cursive;

// Major elements
body {
    background-color: $color-primary-lightest;
    font-family: $font-body;
    margin: 0;
}

nav {
    background-color: $color-secondary-2-darkest;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: $font-headline;
    height: 32px;

    div.menu-item {
        color: $color-neutral;
        &:hover {
            background-color: $color-secondary-2-dark;
        }
    }
}

div.card {
    background-color: $color-neutral;
}

// Controls
.btn {
    color: $color-primary-lightest;
    background-color: $color-secondary-1-darkest;
    border-radius: 14px;
    border: none;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    box-shadow: 6px 6px 3px $color-secondary-1-lightest;
}